<% if collector.any? %>
  <%= paginate collector.list %>
  <section class="cards">
    <% collector.each do |entity| %>
      <%= render partial: 'my/dreams/card', locals: { entity: } %>
    <% end %>
  </section>
  <%= paginate collector.list %>
<% else %>
  <%= render partial: 'shared/nothing_found' %>
<% end %>
