<% content_for :title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
  <%= my_index_link %>
  <span><%= t('.nav_text') %></span>
<% end %>

<section>
  <h1><%= t('.heading') %></h1>

  <%= render partial: 'list', locals: { collector: @collector } %>
</section>
