<header class="main-header">
  <div class="content-wrapper">
    <div class="logo"><%= link_to('Oneirogram', root_path) %></div>
    <nav class="nav-main">
      <ul>
        <li><%= link_to('dreams', dreams_path) %></li>
      </ul>
    </nav>
    <%= render partial: 'layouts/shared/authentication', locals: { user: current_user } %>
  </div>
</header>
