*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p,
li,
h1,
h2,
h3,
h4 {
    hyphens: auto;
    word-break: break-word;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

button,
input,
select,
textarea {
    font: inherit;
}
