@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
    --content-width: 64rem;

    --spacer-xxs: .25rem;
    --spacer-xs: .5rem;
    --spacer-s: 1rem;
    --spacer-m: 1.5rem;

    --font-family-base: "Roboto", sans-serif;
    --font-family-heading: "Source Serif 4", serif;
    --font-family-nav: "Roboto Condensed", sans-serif;

    --font-size-decreased: .875rem;
    --font-size-normal: 1rem;
    --font-size-increased: 1.125rem;
    --font-size-large: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 1.875rem;
    --font-size-3xl: 2.5rem;

    --shadow-color-a: rgba(0, 0, 0, 0.125);

    --block-shadow: .125rem .125rem .25rem .125rem rgba(0, 0, 0, .125);

    --border-color-primary: rgba(0, 0, 0, 0.25);
    --border-color-secondary: rgba(0, 0, 0, 0.125);

    --border-primary: .0625rem solid var(--border-color-primary);
    --border-secondary: .0625rem solid var(--border-color-secondary);

    --text-color-primary: black;
    --text-color-secondary: darkgray;
    --text-color-heading: black;

    --text-color-inverted-primary: #fff;
    --text-color-inverted-secondary: #ccc;
    --text-color-inverted-heading: #fff;

    --form-control-color: hsl(220, 75%, 75%);
    --form-field-error: #f00;
    --form-input-bg: #fff;

    --input-border: hsl(0, 0%, 75%);
    --input-border-focus: hsl(0, 0%, 50%);
    --input-border-invalid: hsl(0, 75%, 50%);
    --input-border-invalid-focus: hsl(0, 50%, 50%);

    --text-block-width: calc(90ch + var(--spacer-s) * 2);

    --bg-color-primary: #fff;
    --bg-color-secondary: #f7f7f7;
}

html {
    color: var(--text-color-primary);
    font-family: var(--font-family-base);
}

body {
    max-width: var(--content-width);
}

.main-header {
    align-items: center;
    box-shadow: 0 .125rem .125rem var(--shadow-color-a), 0 .25rem .25rem var(--shadow-color-a), 0 .5rem .5rem var(--shadow-color-a);
    display: flex;
    gap: var(--spacer-xs);
    margin-bottom: var(--spacer-xs);
    padding: var(--spacer-xxs);

    .authentication {
        margin-left: auto;
    }
}

#main {
    padding: var(--spacer-xs);
}

.main-footer {
    border-top: var(--border-primary);
    padding: var(--spacer-xxs);
}

h1,
h2,
h3,
h4 {
    color: var(--text-color-heading);
    font-family: var(--font-family-heading);
    font-weight: 500;
}

h1 {
    font-size: var(--font-size-3xl);
}

h2 {
    font-size: var(--font-size-2xl);
}
