.nav-main {
    font: 300 var(--font-size-large) var(--font-family-nav);

    ul {
        display: flex;
        gap: var(--spacer-xs);
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
    }

    a {
        padding: var(--spacer-xxs);
    }
}

.breadcrumbs {
    align-items: center;
    border-bottom: .0625rem solid var(--border-color-primary);
    gap: var(--spacer-xxs);
    display: flex;
    padding: var(--spacer-xs);
    flex-wrap: wrap;
    font: 300 var(--font-size-decreased) var(--font-family-nav);

    a {
        background: url('icons/breadcrumb.svg') no-repeat center right / .375rem .75rem;
        padding: var(--spacer-xxs);
        padding-right: .625rem;
        transition: background .25s;

        &:active,
        &:focus,
        &:hover {
            background-image: url('icons/breadcrumb-hover.svg');
        }
    }

    span {
        font-weight: 400;
    }
}
